@model Website.Models.DashboardVM

@{
    ViewBag.Title = "Dashboard";
}



<main class="d-flex" style="overflow-x: hidden;">
    @Html.Partial("_Navigation")
    <div class="m-5 bg-mainbackground border rounded-3 w-100 d-flex justify-content-evenly" style="height: 85vh;">
        <section class="bg-lightishgray rounded-2 m-5" style="width: 90%;">
            <div class="row mt-5">
                <div class="col-md-4 d-flex justify-content-center">
                    <div class="w-75 bg-dimmergray border rounded h-100 d-flex flex-column justify-content-center align-items-center">
                        <h3 class="text-center mb-5">Total User Count</h3>
                        <h4 class="text-center mb-0">@Model.UserCount.ToString("N0")</h4>
                    </div>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                    <div class="w-75 bg-dimmergray border rounded h-100 d-flex flex-column justify-content-center align-items-center">
                        <h3 class="text-center mb-5">Total SMM Accounts</h3>
                        <h4 class="text-center mb-0">@Model.SMMAccounts.ToString("N0")</h4>
                    </div>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                    <div class="w-75 bg-dimmergray border rounded h-100 d-flex flex-column justify-content-center align-items-center">
                        <h3 class="text-center mb-5">Online Users</h3>
                        @if (HttpRuntime.Cache["onlineUsers"] != null)
                        {
                            List<string> onlineUsers = (List<string>)HttpRuntime.Cache["onlineUsers"];
                            if (onlineUsers.Count > 0)
                            {
                                <h4 class="text-center mb-0">@onlineUsers.Count</h4>
                            }
                        }
                        else
                        {
                            <h4 class="text-center mb-0">@Model.OnlineUsers.ToString("N0")</h4>
                        }
                    </div>
                </div>
            </div>
            <div class="row m-5" style="height: 60%;">
                <div class="col-md-12 mt-4">
                    <div class="w-100 bg-dimmergray border rounded h-100 d-flex justify-content-around align-items-center">
                        <section class="border bg-lightgray rounded d-flex flex-column align-items-center" style="width: 40%; height: 85%;">
                            <h3 class="text-center mb-3">Message of the day</h3>
                            <textarea class="h-75 mb-4 bg-lightgray text-center" style="width: 85%;" readonly>
Welcome to the ImitationSMM Beta
Version[v1.0.1]
@Model.MOTD
                            </textarea>
                        </section>
                        <section class="border bg-lightgray rounded d-flex flex-column align-items-center" style="width: 40%; height: 85%;">
                            <h3 class="text-center mb-3">Update Log</h3>
                            <textarea class="h-75 mb-4 bg-lightgray text-center" style="width: 85%;" readonly>
[v1.0.1][04/14/2024] - INITIAL RELEASE 
@Model.UpdateLog
                            </textarea>
                        </section>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>


